{
  "parseWaitTime": 30000,
  "twitch": {
    "datafile": "db/twitch.json",
    "clientid": "",
    "channels": {
      "discord user id": "twitch channel"
    }
  },
  "discord": {
    "key": "discord api key",
    "announceChannel": "discord channel id"
  },
  "youtube": {
    "datafile": "db/youtube.json",
    "key": "youtube api key with youtube data api enabled"
  }
}
